.thumbnail-container {
  margin: 4px;
}

.thumbnail-img-styles {
  height: 66px;
  width: 66px;
}

.thumbnail-img-btn-styles {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 576px) {
  .thumbnail-container {
    margin: 6px;
  }

  .thumbnail-img-styles {
    height: 56px;
    width: 56px;
  }
}
