.tab-item-container {
  margin-right: 12px;
}

.tab-btn-styles {
  color: white;
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  font-family: 'Roboto';
  font-size: 18px;
  font-weight: 500;
  height: 40px;
  width: 90px;
}

.active-tab-styles {
  color: #fec653;
  border: 4px solid #fec653;
  border-left: none;
  border-right: none;
  border-top: none;
}

@media (max-width: 576px) {
  .tab-item-container {
    margin-right: 8px;
  }

  .tab-btn-styles {
    height: 32px;
    width: 80px;
    font-size: 18px;
    margin: 8px;
  }
}
